* {
    --main-text: #cdcfd8;

    --scroll-track: #16191d;
    --scroll-thumb: #205eaf;
    --scroll-thumb-hover: #1d6cd4;
    --scroll-corner: #16191d;

    --background-level-1: #1a1c1f;
    --background-level-2: #212227;
    --background-level-2-text: #cdd3df;
    --background-level-2-hover: #3a5a99;
    --background-level-2-border: #626275;
    --background-level-2-5: #25272c;
    --background-level-2-5-hover: #2e3138;
    --background-level-2-box-shadow: #0000000a;
    --background-level-3: #2c2b33;
    --background-level-3-hover: #2e529e;
    --background-level-3-text: #dde1eb;
    --background-level-3-box-shadow: #0806062a;

    --model-container: #23272c;
    --model-container-border: #23272c;
    --model-container-active: #23272c;
    --model-container-border-active: #2063bb;
    --model-container-title-underline: #ffffff21;
    --model-container-text-light: #dbdbdb;
    --model-container-text-dimmed: #b3b3b3;
    --library-position-img-border: #515158;
    --lib-pos-dynamic-bg: #233285;
    --lib-pos-dynamic-bd: #3e61fa;
    --lib-pos-static-bg: #0e7531;
    --lib-pos-static-bd: #1dca6b;

    --global-logo-shadow: #000000;
    --global-logo-text: #ffffff;

    --model-edit-image-border: #384049;
    --pin-pointer-outer: #ffffff;
    --pin-pointer-inner: #364afd;

    --text-input-changed-background: #2e9b2e;
    --text-input-changed-border: #277a2e;
    --text-input-mistake-background: #c7273d;
    --text-input-mistake-border: #9e1c2d;

    --std-input-background: #25282e;
    --std-input-border: #6064744f;
    --std-input-background-hover: #1e3a6e;
    --std-input-border-hover: #1e599c;

    --std-slider-background: #25282e;
    --std-slider-button: #373b42;
    --std-slider-background-checked: #2158c7;
    --std-slider-button-checked: #3b75eb;

    --std-button-background: #2e3138;
    --std-button-border: #343c44;
    --std-button-background-hover: #234791;
    --std-button-border-hover: #1f60b6;

    --bookmark-container-background: #1a1c1f;
    --bookmark-border: #185db8;

    --bookmark-background-active: #162f61;
    --bookmark-background-inactive: #232831;
    --bookmark-border-active: #153c8a;
    --bookmark-border-inactive: #333846;

    --bookmark-background-active-hover: #1b3874;
    --bookmark-background-inactive-hover: #373e4d;
    --bookmark-border-active-hover: #1a48a5;
    --bookmark-border-inactive-hover: #484f63;

    --gerber-sublabel-text: #b6b6cf;
    --gerber-sublabel-background: #2d3036;
    --gerber-progress-done: #0069cc;
    --gerber-progress-strip: #ffffff26;
    --gerber-progress-background: #1a1a1a;
    --gerber-progress-label-color: #ffffff;
    --gerber-progress-label-shadow: #000000;

    --assembler-check: #ffffff05;
    --disabled-style-bg: rgb(27, 27, 27);
    --disabled-style-bd: rgb(48, 48, 48);
    --disabled-style-ft: rgb(80, 80, 80);
    --disabled-style-bg-h: rgb(59, 59, 59);
    --disabled-style-bd-h: rgb(109, 109, 109);
    --disabled-style-ft-h: rgb(194, 194, 194);
}
