* {
    --main-text: #ddcccc;

    --scroll-track: #1d1616;
    --scroll-thumb: #973636;
    --scroll-thumb-hover: #c53131;
    --scroll-corner: #1d1616;

    --background-level-1: #1f1a1a;
    --background-level-2: #272121;
    --background-level-2-text: #dfcdcd;
    --background-level-2-hover: #993a3a;
    --background-level-2-border: #756262;
    --background-level-2-5: #2c2525;
    --background-level-2-5-hover: #382e2e;
    --background-level-2-box-shadow: #0000000a;
    --background-level-3: #362d2d;
    --background-level-3-hover: #993a3a;
    --background-level-3-text: #ebdddd;
    --background-level-3-box-shadow: #0806062a;

    --model-container: #2c2323;
    --model-container-border: #2c2323;
    --model-container-active: #2c2323;
    --model-container-border-active: #963f3f;
    --model-container-title-underline: #ffffff21;
    --model-container-text-light: #dbdbdb;
    --model-container-text-dimmed: #b3b3b3;
    --library-position-img-border: #585151;
    --lib-pos-dynamic-bg: #85232b;
    --lib-pos-dynamic-bd: #fa3e67;
    --lib-pos-static-bg: #756b0e;
    --lib-pos-static-bd: #cab91d;

    --model-edit-image-border: #493838;
    --pin-pointer-outer: #ffffff;
    --pin-pointer-inner: #fd3636;

    --text-input-changed-background: #2e429b;
    --text-input-changed-border: #272f7a;
    --text-input-mistake-background: #bcc727;
    --text-input-mistake-border: #9e951c;

    --std-slider-background: #2e2525;
    --std-slider-button: #423737;
    --std-slider-background-checked: #963d45;
    --std-slider-button-checked: #c5626a;

    --std-input-background: #2e2525;
    --std-input-border: #7460604f;
    --std-input-background-hover: #6d2f2f;
    --std-input-border-hover: #924646;

    --std-button-background: #382e2e;
    --std-button-border: #443434;
    --std-button-background-hover: #912323;
    --std-button-border-hover: #b61f1f;

    --bookmark-container-background: #1f1a1a;
    --bookmark-border: #94353d;

    --bookmark-background-active: #582424;
    --bookmark-background-inactive: #312323;
    --bookmark-border-active: #772a2a;
    --bookmark-border-inactive: #463333;

    --bookmark-background-active-hover: #702e2e;
    --bookmark-background-inactive-hover: #3b2f2f;
    --bookmark-border-active-hover: #8d3838;
    --bookmark-border-inactive-hover: #523e3e;

    --gerber-sublabel-text: #cfb6b6;
    --gerber-sublabel-background: #362d2d;
    --gerber-progress-done: #a0242f;
    --gerber-progress-strip: #ffffff26;
    --gerber-progress-background: #1a1a1a;
    --gerber-progress-label-color: #ffffff;
    --gerber-progress-label-shadow: #000000;

    --assembler-check: #ffffff05;
    --disabled-style-bg: rgb(27, 27, 27);
    --disabled-style-bd: rgb(48, 48, 48);
    --disabled-style-ft: rgb(80, 80, 80);
    --disabled-style-bg-h: rgb(59, 59, 59);
    --disabled-style-bd-h: rgb(109, 109, 109);
    --disabled-style-ft-h: rgb(194, 194, 194);
}
