#global-workspace-box {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.global-logo-container {
    position: relative;
    user-select: none;
    pointer-events: none;
}
.global-logo {
    width: 100%;
}
.global-logo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 500;
    width: max-content;
    text-shadow: var(--global-logo-shadow) 0 0 1rem,
        var(--global-logo-shadow) 0 0 1rem;
}
.globals-flex-container {
    display: flex;
    flex-wrap: wrap;
}
.global-content-box {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    min-width: 30rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background-level-2);
    min-height: 30rem;
}
@media (min-width: 1200px) {
    .globals-flex-container {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
@media (min-width: 1600px) {
    .globals-flex-container {
        margin-left: 15rem;
        margin-right: 15rem;
    }
    .global-content-box {
        flex: auto;
        max-width: 100%;
        min-width: 40rem;
    }
}
.global-row-title {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    color: var(--background-level-2-text);
    border-bottom: 0.2rem solid var(--background-level-2-border);
    width: 100%;
    text-align: center;
}
.global-row-box {
    background-color: var(--background-level-3);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.global-row-box .global-row-title {
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.global-content-label {
    color: var(--background-level-3-text);
    font-weight: 200;
    font-size: 1.1rem;
    width: 100%;
    text-align: right;
}
.global-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.global-button-row {
    padding: 0.2rem;
}
.global-row .div-button {
    width: 100%;
    margin: 0.2rem;
}
.global-half-row {
    padding-left: 0.5rem;
    width: 50%;
}
.global-number-in {
    width: 10rem;
}
.switch {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 4.2rem;
    height: 2rem;
    margin: 0.2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--std-slider-background);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: var(--std-slider-button);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--std-slider-background-checked);
}

input:checked + .slider:before {
    transform: translateX(2.1rem);
    background-color: var(--std-slider-button-checked);
}
.slider.round {
    border-radius: 1rem;
}

.slider.round:before {
    border-radius: 50%;
}
