@import url("font.css");

* {
    font-weight: 200;
    font-family: "JetBrains Mono", monospace;
    color: var(--main-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}
::-webkit-scrollbar-track {
    background: var(--scroll-track);
}
::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}
::-webkit-scrollbar-corner {
    background-color: var(--scroll-corner);
}
*:focus,
*:hover,
*:active,
input,
textarea {
    border: none;
    outline: none;
}
.standard-text-input:hover::-webkit-inner-spin-button,
.standard-text-input:active::-webkit-inner-spin-button,
.standard-text-input:focus::-webkit-inner-spin-button {
    opacity: 0.3;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.standard-text-input {
    background-color: var(--std-input-background);
    border: 2px solid var(--std-input-border);
    border-radius: 0.2rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 0.3rem;
    transition: all ease 150ms;
}
.standard-text-input:hover {
    background-color: var(--std-input-background-hover);
    border: 2px solid var(--std-input-border-hover);
}
.standard-text-input:focus {
    background-color: var(--std-input-background-hover);
    border: 2px solid var(--std-input-border-hover);
}
.standard-text-input:active {
    background-color: var(--std-input-background-hover);
    border: 2px solid var(--std-input-border-hover);
}
.div-button {
    text-align: center;
    cursor: pointer;
    align-self: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: fit-content;
    background-color: var(--std-button-background);
    border: 2px solid var(--std-button-border);
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 300 ease;
    font-weight: 300;
}
.div-button:hover {
    background-color: var(--std-button-background-hover);
    border: 2px solid var(--std-button-border-hover);
}
@keyframes div-button-breath-anim {
    0% {
        background-color: var(--std-button-background);
        border-color: var(--std-button-border);
    }
    100% {
        background-color: var(--std-button-background-hover);
        border-color: var(--std-button-border-hover);
    }
}
.breath-div-button {
    animation: div-button-breath-anim 1s alternate infinite;
}
#global-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    user-select: none;
    width: 100%;
    height: max-content;
    overflow: hidden;
    background-color: var(--bookmark-container-background);
}
#bookmarks-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    min-width: 36rem;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}
.bookmark-box {
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    width: 9rem;
    height: fit-content;
    padding: 0.2rem;
    padding-left: 0.8rem;
    cursor: pointer;
    transition: all ease 150ms;
    border-width: 0.2rem 0.1rem 0.2rem 0.1rem;
    border-style: solid;
    font-weight: 300;
}
.bookmark-active {
    background-color: var(--bookmark-background-active);
    border-color: var(--bookmark-border-active);
}
.bookmark-inactive {
    background-color: var(--bookmark-background-inactive);
    border-color: var(--bookmark-border-inactive);
}
.bookmark-active:hover {
    background-color: var(--bookmark-background-active-hover);
    border-color: var(--bookmark-border-active-hover);
}
.bookmark-inactive:hover {
    background-color: var(--bookmark-background-inactive-hover);
    border-color: var(--bookmark-border-inactive-hover);
}
#bookmarks-container :nth-child(1).bookmark-box {
    border-width: 0.2rem 0.1rem 0.2rem 0.2rem;
}
#bookmarks-container :nth-last-child(1).bookmark-box {
    border-width: 0.2rem 0.2rem 0.2rem 0.1rem;
}
#window-window-nav {
    -webkit-app-region: drag;
    width: 100%;
    min-width: 10rem;
}
#window-window-nav div {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    background-color: var(--bookmark-container-background);
    font-size: 1.2rem;
    filter: brightness(80%);
    width: fit-content;
}
#window-window-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: fit-content;
    min-width: fit-content;
    max-width: fit-content;
}
#window-window-buttons div {
    cursor: pointer;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background-color: var(--bookmark-container-background);
}
#window-window-buttons div:hover {
    filter: brightness(120%);
}
#workspace-container {
    background-color: var(--background-level-1);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.workspace-box {
    height: 100%;
    width: 100%;
    display: none;
}
.text-input-changed {
    border-color: var(--text-input-changed-background) !important;
    background-color: var(--text-input-changed-border) !important;
}
.text-input-mistake {
    border-color: var(--text-input-mistake-background) !important;
    background-color: var(--text-input-mistake-border) !important;
}
