#model-workspace-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#model-workspace-box ::-webkit-scrollbar-track {
    background: #00000000;
}
#model-edit-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--background-level-2);
    border-left: 0.1rem solid var(--background-level-2-border);
    min-width: fit-content;
    height: 100%;
    overflow-y: scroll;
}
#library-passets-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-top: 0;
    padding: 1rem;
    width: fit-content;
    min-width: 38rem;
}
.library-controls-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 36rem;
    width: 100%;
    height: fit-content;
    max-height: fit-content;
    min-height: fit-content;
}
.library-position-box {
    position: relative;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    border: 2px solid var(--model-container-border);
    background-color: var(--model-container);
    min-width: 36rem;
    height: 11.5rem;
    transition: all 150 ease;
}
.library-position-box-active {
    border-color: var(--model-container-border-active);
    background-color: var(--model-container-active);
}
.library-position-meta-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}
.library-position-main {
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
}
.library-position-meta {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.library-position-img {
    cursor: pointer;
    position: relative;
    height: 10rem;
    width: 10rem;
    min-height: 10rem;
    min-width: 10rem;
    max-height: 10rem;
    max-width: 10rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--library-position-img-border);
}
.library-position-img img {
    position: absolute;
    height: 105%;
    width: 105%;
    top: -2.5%;
    left: -2.5%;
    overflow: hidden;
    border-radius: 0.5rem;
}
.model-icon-disable {
    display: none;
}
.library-position-meta-label {
    color: var(--model-container-text-dimmed);
    text-align: right;
    min-width: 5rem;
    max-width: 5rem;
    margin: 0.2rem;
}
.library-position-meta-text {
    text-align: left;
    margin: 0.2rem;
    width: 100%;
    max-height: 2rem;
    overflow-y: scroll;
}
.library-position-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.library-position-nav div {
    margin-left: 0.5rem;
}
.library-position-type {
    height: fit-content;
    padding: 0.2rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    background-color: var(--lib-pos-dynamic-bg);
    border: 0.1rem solid var(--lib-pos-dynamic-bd);
}
.model-edit-title {
    font-weight: 300;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    height: 3rem;
    border-bottom: 2px solid var(--model-edit-image-border);
    display: flex;
    flex-direction: row;
}
.model-edit-title :nth-child(1) {
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 50%;
    background-color: var(--background-level-3);
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.model-edit-title :nth-child(1):hover {
    background-color: var(--background-level-3-hover);
}
.model-title-small {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    color: var(--model-container-text-dimmed);
}
.model-edit-pinroot {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.model-edit-pinroot-img-box {
    position: relative;
    width: 304px;
    height: 304px;
    border: 2px solid var(--model-edit-image-border);
    border-radius: 0.5rem;
}
.model-edit-pinroot-img-comment {
    opacity: 50%;
}
.pin-ptr {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 150px;
    left: 150px;
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid var(--pin-pointer-outer);
    border-radius: 0 0 1.5rem 0;
}
.pin-ptr span:nth-child(1) {
    position: absolute;
    display: block;
    z-index: 2;
    width: 0.6rem;
    height: 0.6rem;
    top: -0.3rem;
    left: -0.3rem;
    border-radius: 0.4rem;
    border: 2px solid var(--pin-pointer-outer);
    background-color: var(--pin-pointer-inner);
}
.model-edit-pinroot-img {
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
}
.model-edit-pinroot-data {
    padding-left: 1rem;
}
.model-edit-pinroot-data div {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    width: max-content;
}
.model-edit-pinroot-data div .div-button {
    margin: 0.2rem;
}
.model-edit-desription {
    display: flex;
    flex-direction: column;
}
.model-edit-desription :nth-child(1) {
    width: 5rem;
    text-align: center;
    color: var(--model-container-text-dimmed);
}
.model-edit-desription :nth-child(2) {
    padding: 0.5rem;
    display: block;
    width: 25rem;
    height: 9rem;
    overflow-y: scroll;
}
.edit-entry-row-label {
    display: inline-block;
    width: 15rem;
    text-align: right;
}
.edit-param-entry {
    display: inline-block;
    width: 20rem;
    margin-left: 0;
    margin-right: 0.5rem;
}
.edit-entry-row {
    width: 100%;
}
.edit-indent-label {
    display: block;
    text-align: left;
    font-weight: 500;
    margin-left: 0.5rem;
}
.edit-indent-block {
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: #ffffff06;
}
.model-edit-vector-value-block .edit-entry-row-label {
    width: 6rem;
}
